body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}
.navbar ul {
  list-style-type: none;
  background-color: #333;
  padding: 0;
}
.navbar > ul > li {
  float: left;
  position: relative;
}
.navbar li a, .navbar > ul > li {
  display: block;
  padding: 14px;
  color: white;
  text-decoration: none;
}
.submenu {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 200px;
  z-index: 1;
}
.navbar li:hover .submenu {
  display: block;
}
.submenu li {
  padding: 10px;
}
input[type="password"] {
  margin: 5px;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
